* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    font-family: 'Delius Unicase', cursive;
}

h1 {
    text-align: center;
    margin: 2rem 0 4rem;
}

.table {
    margin: auto;
}

.cell {
    cursor: pointer;
    text-align: center;
    width: 6rem;
    height: 6rem;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    font-size: 4rem;
}

.cell:hover {
    background-color: #cbffcd;
}

.filled:hover {
    background-color: #ffa4a4;
}

.filled-cell-click {
    animation: shake 1s linear 1;
}

@keyframes shake {

    10%,
    90% {
        transform: translateX(-1px);
    }

    20%,
    80% {
        transform: translateX(2px);
    }

    30%,
    50%,
    70% {
        transform: translateX(-3px);
    }

    40%,
    60% {
        transform: translateX(3px);
    }
}

.x-btn,
.o-btn {
    width: 3rem;
    height: 3rem;
    border: 1px solid;
    border-radius: 50%;
    font-size: inherit;
    font-family: inherit;
    background-color: white;
    cursor: pointer;
}

.status {
    margin: 2rem;
    text-align: center;
}

.btn {
    cursor: pointer;
    width: 9rem;
    height: 2rem;
    display: block;
    margin: 3rem auto;
    font-family: inherit;
    background-color: #ccb3d6;
}

.btn:disabled {
    cursor: auto;
    color: rgba(0, 0, 0, 0.6);
}